@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Mulish', sans-serif;
    margin:0;
    padding: 0;
}
/* body{
        max-width: 100%;
        margin-left: 9.2%;
        margin-right: 9.2%;
        
} */

.gap{
    margin-top: 24px;
    margin-bottom: 48px;
}
.common-title{
         color: #131318;
        font-family: Mulish;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
}


.paragraph{
        color: #5A5A5D;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 171.429% */

}
header{
    margin-left: 9.2%;
    margin-right: 9.2%;
}

.title-color{
    color:rgba(19, 19, 24, 1);

}
.paragraph1{
    color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin-top: 24px;
        margin-bottom: 64px;
}
.nav{
    display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 50px;
     margin-top: 50px;
}
.guide-name{
    color: #131318;
        font-size: 2.2rem;
        font-weight: 800;
}
.name{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:16.63px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 44px;
    list-style-type: none;
}

a{
    text-decoration: none;
        color: var(--Dark-02, #424247);
        text-align: center;
        font-size: 1.125rem;
        font-weight: 400;
}
#orange{
    color: #FF5400;
}

/* banner section */
.banner {
    width: 82%;
    margin-right: 9.2%;
    margin-left: 9.2%;
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group 13 (1) (1).png");
    border-radius: 16px;
    background-size: cover;
    text-align: center;
    margin-bottom: 100px;
    /* position: absolute; */
}
.full{
    position: relative;
     top: 10%;
    width: 58%;
     transform: translate(35%,30%); 
}
     h1{
        color: #FFF;
        font-family: Mulish;
        font-size: 4rem;
        font-weight: 800;
}

.banner .paragraph{
    color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin-top: 24px;
        margin-bottom: 48px;
}
.form{
        display: inline-flex;
        padding: 16px;
        align-items:flex-start;
        gap: 24px;   
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
}
.primary-button{
        height: 52px;
        width:174px;
        border-radius: 8px;
        background: #FF5400;
        outline: none;
        border: none;
        color: white;
        
         padding: 10px;
        
         cursor: pointer;        
}
.primary-button i {
    margin-right: 5px;
}
.common{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    text-decoration: none;
    border:none;
    outline: none;
         color: rgba(19, 19, 24, 0.50);
        text-align: center;
        font-family: Mulish;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}

/* populer tour */

.populer-tours{
    width: 82%;
    height: 550px;
   margin-left: 9.2%;
   display: flex;
   gap: 53px;
   margin-bottom:100px ;
}

#btn1{
    width: 174px;
    height: 54px;
    background-color: #FF5400;
    color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        border: none;
        outline: none;
        border-radius:6px ;
}
#populer{
    color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
}

.tour-context{
    display: grid;
    grid-template-columns: 1fr;
    gap:24px;
}
.destination{
    width: 82%;
    margin-left: 9.2%;
}
.destination-context{
    text-align: center;
    margin-bottom:0;
}
.destination {
    width: 50%;
   height: 1200px;
}
.destination-img{
    position: relative;
    bottom:270px
}


.destination-context>h1{
    padding-bottom: 24px;
    color: #131318;
     text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.destination-context>.paragraph{
    color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 162.5% */
}
.destination-img>h2{
        color: #fff5f5;
        text-align: center;
        font-family: Mulish;
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
}
        .Bangladesh {
            position: relative;
            transform: translate(-17%,2500%);
        }
         .Bandarban {
             position: relative;
             transform: translate(65%, 2450%);
        }

.kashmir{
    position: relative;
        transform: translate(81%, 1750%);
}
.maldives{
    position: relative;
    transform: translate(-12%,1170%);
}
.indoneshia{
    position: relative;
    transform: translate(70%,1150%);
}
.sri-lanka{
    position: relative;
        transform: translate(-24%, 1900%);
}
.North-America{
    position: relative;
        transform: translate(38%, 1850%);
}

.firstimgs{
    display: flex;
    gap:24px;
    margin-top: 48px;
    margin-bottom: 24px;
}

.secondimgs,.thirdimgs{
    display: flex;
    gap:24px;
    margin-bottom: 24px;
}
.img5{
    width: 274px;
    height: 286px;
}
.img3{
    width: 374px;
    height: 286px;
}
.img4{
    width: 474px;
    height: 286px;
}
.why-us{
    text-align: center;
    width: 100%;
    margin-right: 9.2%;
    margin-bottom: 60px;
}
.p1{
    margin-top: 24px;
    margin-bottom: 48px;
}
.card{
    display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 16px;
        text-align: center;
        justify-content: center;
        margin-left: 9.2%;
        margin-right: 9.2%;
}

.card1{
    justify-content: left;
    text-align: left;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(39, 25, 8, 0.05);
    box-shadow: #131318;
    margin-left: 9.2%;
    padding: 32px;
}
.card2{
    border-radius: 16px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
        text-align: left;
        padding: 32px;
}
.card3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    text-align: left;
    padding: 16px;
    position: relative;
    transform: translate(60%,5%);
}
.card1>img,.card2>img,.card3>img{
    height: 64px;
    width: 64px;
    margin-bottom: 32px;
}
.card1>h3,.card2>h3,.card3>h3{
    color: #131318;
        /* text-align: center; */
        font-family: Mulish;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 16px;
}
/* footer before section */
.news{
    width: 82%;
    margin-left: 9.2%;
    margin-top: 48px;
    margin-bottom: 48px;
}
.kkk{
    display: flex;
    gap: 2px;
    justify-content: space-evenly;
}
                .aa {
                    color: #131318;
                    font-family: Mulish;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                    padding-top: 40px;
                    padding-bottom: 16px;
                }
        
                .bb {
                    color: #5A5A5D;
                    width: 350px;
                    font-family: Mulish;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    margin-top: 16px;
                    margin-bottom: 8px;
                    /* 162.5% */
        
                }
        
                .cc {
                    display: grid;
                    grid-template-columns: (1, 1fr);
                    gap: 20px;
                }
                input{
                    width: 393px;
                    height: 52px;
                    border-radius: 8px;
                    padding-left: 10px;
                    background: rgba(19, 19, 24, 0.05);
                    outline: none;
                    border: none;
                       
                }
            
                .dd {
                    width: 393px;
                    height: 52px;
                    border-radius: 8px;
                        background: #FF5400;
                        outline: none;
                        border: none;
                        color: white;
                    
                        padding: 10px;
                    
                        cursor: pointer;
                        font-size: 20px;
                        font-weight: 800;
                        margin-bottom: 24px;
                }
/* footer */
   footer {
       width: 100%;
       height: 502px;
       flex-shrink: 0;
       background: rgba(19, 19, 24, 0.05);
       text-align: center;
       margin-top: 40px;
       margin: 0px auto;

   }

   .hero {
       color: #FF5400;
       font-family: Mulish;
       font-size: 32px;
       font-style: normal;
       font-weight: 800;
       line-height: normal;

   }

   span {
       color: var(--Dark-01, #131318);
       font-family: Mulish;
       font-size: 32px;
       font-style: normal;
       font-weight: 800;
       line-height: normal;
   }

   .lorem {
       color: #5A5A5D;
       width: 769px;
       text-align: center;
       font-family: Mulish;
       font-size: 16px;
       font-style: normal;
       font-weight: 400;
       line-height: 26px;
       /* 162.5% */
       padding-left: 300px;

   }

   .all {
       color: #131318;
       font-family: Inter;
       font-size: 16px;
       font-style: normal;
       font-weight: 300;
       line-height: normal;
       padding-top: 100px;

   }

   .bah {
       padding-top: 200px;
   }
   .na{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding-left: 35%;
    margin-bottom: 24px;
    
   }
   .lost{
    display: flex;
    margin-left: 9.2%;
    margin-right: 9.2%;
   }
   

@media screen and (max-width: 600px) {
    header{
        margin-top: 0;
        margin-bottom: 0;
    }
   nav{
    flex-direction: column;
    gap: 10px;
   }
   ul{
    /* flex-direction: column; */
    gap:10px;
   }
    .name>img{
        width: 28.724px;
        height: 33.516px;
    }
    
        .banner {
            height: 483px;
            background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group 13 (1) (1).png");
            border-radius: 16px;
            width: 335px;
        }
       h1 {
            color: #FFF;
            font-family: Mulish;
            font-weight: 800;
            font-size: 22px;
            padding-top: 15px;
        }
        .full{
             padding:32px 15px ;
             width: auto;
             top: 0%;
             transform: none;
            }
       
    .form {
                 display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                border-radius: 8px;
                background: rgba(255, 255, 255, 0.30);
                padding-bottom: 32px;
                }
    .banner .paragraph{
            position: none;
            margin-top: 8px;
            margin-bottom:32px ;         
         }

     .populer-tours{
        flex-direction: column;
        width: 335px;
        height: auto;
        margin-bottom: 24px;
     }
.common-title {
    color: #131318;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.paragraph {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}
.destination-context>.paragraph{
    padding-top: 16px;

}

.paragraph1{
    color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-top: 8px; 
         margin-bottom: 32px;  
    }   
    .guide-name{
        color: #131318;
            font-family: Mulish;
            font-size: 21.543px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            padding-left: 2px;
    } 
        .name {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 9.95px;
            min-height: 0;
        }
        .nav{
            margin-top: 19.2px;
            margin-bottom: 17.8px;
        }
    .img12{
        width: 335px;
    }
        .firstimgs,.secondimgs,.thirdimgs {
           flex-direction: column;
           width: 335px;
           margin-bottom: 16px;
        }
                .img5 {
                    width: 335px;
                    height: 212.46px;
                }
        
                .img3 {
                    width: 335px;
                    height: 212.46px;
                }
        
                .img4 {
                    width: 335px;
                    height: 212.46px;
                }
       .firstimgs{
        margin-top: 16px;
       }

    /* naming */
        .kashmir {
            position: relative;
            transform: translate(0%,3049%);
        }
    
        .maldives {
            position: relative;
            transform: translate(-1%, 910%);
        }
    
        .indoneshia {
            position: relative;
            transform: translate(-4%,1446%);
        }
    
        .sri-lanka {
            position: relative;
            transform: translate(1%,1932%);
        }
    
        .North-America {
            position: relative;
            transform: translate(-4%,2496%);
        }

                  .Bangladesh {
                      position: relative;
                      transform: translate(0%,3610%);
                  }
        
                  .Bandarban {
                      position: relative;
                      transform: translate(0%,4082%);
                  }
        .destination-context>.paragraph {
            color: rgba(19, 19, 24, 0.70);
            text-align: center;
            font-family: Mulish;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 162.5% */
        }
     .destination-context>h2{
        color: #131318;
            text-align: center;
            font-family: Mulish;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
     }
     .destination-img{
        position: none;
     }

         .kashmir {
             position: relative;
             transform: translate(33%, 3049%);
         }
    
         .maldives {
             position: relative;
             transform: translate(21%, 910%);
         }
    
         .indoneshia {
             position: relative;
             transform: translate(25%, 1446%);
         }
    
         .sri-lanka {
             position: relative;
             transform: translate(32%, 1932%);
         }
    
         .North-America {
             position: relative;
             transform: translate(34%, 2496%);
         }
    
         .Bangladesh {
             position: relative;
             transform: translate(32%, 3610%);
         }
    
         .Bandarban {
             position: relative;
             transform: translate(33%, 4082%);
         }
         .destination-context{
            padding-left: 50px;
            text-align: left;
         }
         .why-us{
            position: relative;
            transform: translate(0%,60%);
            /* justify-content: center; */
         }
         .context-why{
            justify-content: center;
         }
         .card{
            grid-template-columns: auto;
         }
         .card3{
            transform: translate(0%,0%);
         }

    .lost{
        flex-direction: column;
        position: relative;
        transform: translate(0%,97%);
        gap:20px;
    
    }
    .news{
        flex-direction: column;
            position: relative;
            transform: translate(0%, 107%);
            gap: 20px;
            margin-bottom: 22px;
    }
    .kkk{
        flex-direction: column;
    }
    footer{
         margin-top: 48px;
            width: 82%;
            position: relative;
            transform: translate(0%, 112%);
            margin-left: 9.2%;
            margin-right: 9.2%;
    }
    .lorem,.na{
        padding-left: 0px;
        width:82%
    }
    .i,input,.dd{
        width: 100%;
    }
    .bah{
        padding-top: 20%;
    }
    .lorem{
        margin-left: 9.2%;
    }
    .na{
        padding-left: 10%;
    }

}